@import url("https://kit.fontawesome.com/a2701bbc0e.js");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', sans-serif;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.largest-container{
  
  width: 100%;
  margin:0 auto;
}
main{
  background-color:#FAF7F2 ;
}
.banner{
  background-color: #CE2829;
  position: relative;
  height: 45rem;
  text-align: center;
  width: 100vw;

}
.logo{
  font-family: 'Londrina Solid', cursive;
  color:white;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 400;
  text-align: center;
  }
  .banner-text{
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 0.5rem;


  }
.banner-text p{
  font-family: 'Satisfy', cursive;
  color: #FDC913;
  font-weight: 400;
}
.banner-text h2{
  color:white;
  font-size: 2rem;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  z-index: 2;
  width:20rem ;
  
}
.banner-text a{
  background-color:#FDC913 ;
  text-decoration: none;
  border-radius: 10rem;
  color: black;
  padding: 0.5rem;
  width: 12rem;
  font-weight: 550;
  font-family: 'Barlow',sans-serif;
  z-index: 2;
}
.banner-text a:hover{
  transform:scale(1.1) ;
  transition-duration:0.2s ;
}

.pizza{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 50rem;
  z-index: 1;
}

.malzemeler{
  position: absolute;
  z-index: 2;
  left:50% ;
  pointer-events: none;
  transform: translateX(-50%);
  width: 65rem;
  top: 1rem;

}
.sag-ust{
  position: absolute;
  top:0;
  right: 0;
  z-index: 0;
  pointer-events: none;
  width:25rem ;

}
.sol-alt{
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  width:25rem ;

}

.nav-content{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  max-width: 100%;
}

.nav-item{
  display: flex;
  flex-wrap:wrap ;
  text-decoration: none;
  color: black;
  gap: 0.3rem;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  border-radius: 1rem;
  width:10rem ;
  justify-content: center;
  background-color: white;
  flex-wrap:wrap ;
}

.nav-item:hover{
  background-color: #292929;
  color: white;
  transform: scale(1.1);
  transition-duration: 0.2s;

}

.main-left-side{
  background-color: #CE2829;
  position: relative;
  color: white;
  width: 33rem;
  border-radius: 1rem;
  z-index: 1;
  object-fit: cover;
  overflow: hidden;
}

.main-left-side h3{
  font-family: 'Quattrocento', serif;
  font-size: 4.2rem;
  line-height: 3rem;
  font-weight: 700;
  z-index: 2;
}

.main-left-side p{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 2;
  
}

.main-content button:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.main-left-side button{
  color: red;
  text-align: center;
  padding: 0.3rem;
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
  z-index: 2;
  
}

.main-left-side img{
  width:100%;
  position:absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  pointer-events: none;
  z-index: 0;
}

.main-left-text{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding: 2rem;
  margin-top: 1rem;
  object-fit: cover;
  overflow: hidden;
  
}
.main-right-side{
  width: 33rem;
  object-fit: cover;
  overflow: hidden;
}
.main-right-top{
  background-color:#292929;
  position: relative;
  height: 50%;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  object-fit: cover;
  overflow: hidden;
  
  
}
.right-top-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  object-fit: cover;
  overflow: hidden;
  
}
.right-top-content h3{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
}
.main-right-top img{
  max-width: 100%;
  object-fit: contain;
  display: block;
  height: auto;
}

.main-right-top button{
  color: red;
  text-align: center;
  padding: 0.3rem;
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

.main-right-bottom{
  background-color: #FFEECC;
  position: relative;
  height: 50%;
  background-image: url("sp4 proje görselleri/main görseller/arka plan.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  border-radius: 1rem;
  object-fit: cover;
  overflow: hidden;
  
}
.right-bottom-content{
  object-fit: cover;
  overflow: hidden;
}
.main-right-bottom img{
  width: 11rem;
}
.main-right-bottom h3{
  font-family: 'Barlow', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 2rem;
  object-fit: cover;
  overflow: hidden;
}
.main-right-bottom h3 span{
  color: red;
  object-fit: cover;
  overflow: hidden;
}

.main-right-bottom button{
  color: red;
  text-align: center;
  padding: 0.3rem;
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.main-content{
 
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

}
.submain-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.submain-content h2{
  font-family: 'Satisfy', cursive;
  color:#CE2829;
  font-weight: 400;
  font-size: 1.8rem;
}
.submain-content h1{
  font-family: 'Barlow', sans-serif ;
  font-weight: 600;
}
.submain-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
  object-fit: cover;
  overflow: hidden;
}
.submain-bottom a{
  text-decoration: none;
  color:inherit
}
.submain-bottom a:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.submain-bottom-left, .submain-bottom-center, .submain-bottom-right{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  gap:0.5rem;
  object-fit: cover;
  overflow: hidden;
}


.submain-bottom h3{
  font-family: 'Barlow',sans-serif;
  font-weight: 600;
}
.submain-bottom .ratings{
  display: flex;
  gap: 5rem;
  
}
.submain-bottom span{
  font-weight: bold  ;
}
.submain-bottom img{
  width: 70%;
  object-fit: cover;
  overflow: hidden;
}
.submain-bottom p{
  font-weight:lighter;
}
footer{
  background-color: #1A1A1A;
  color: white;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  object-fit: cover;
  
}
footer h3{
  font-family:'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
}
.footer-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family:'Barlow',sans-serif; ;
  font-weight: 400;
}
footer ul li{
  display: flex;
  gap: 1rem;
}
.footer-left img{
  width: 1.75rem;
  height: 1.75rem;
}
.footer-center h4{
  font-family: 'Barlow',sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.footer-center{
  display: flex;
  flex-direction: column;
  gap:2rem;
 
}
.footer-center p{
  font-family:'Barlow',sans-serif; 
  font-weight: 400;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-right{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  width: 22rem;
  
}
.footer-right h4{
  font-family: 'Barlow',sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.footer-img{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:1rem;
  
}
.footer-right img{
  border-radius: 0.5rem;
  
}
.footer-bottom{
  display: flex;
  justify-content: space-evenly;
  background-color: #1A1A1A;
  gap:13rem;
}

.footer-bottom p{
  color: white;
}
.footer-bottom img{
  width: 1.1rem;
  height: 0.9rem;
}


/*
-------- PİZZA-REACT-PROJESİ-STİLLERİ------------
*/


.header-text{
  font-family: 'Barlow',sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: #FAF7F2;
}
.header-text1{
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: -20rem;

}
.header-text2{
  font-size: 0.8rem;
  font-weight: 600;
}


.form-header{
  background-color: #CE2829;
  height: 10rem;
  text-align: center;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-main{
color: #292929;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family:'Barlow',sans-serif;
  width: 29rem;
  margin:0 auto;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  
}
.form-h1{
  font-family:'Barlow',sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.form-price-rating{
  display: flex;
  justify-content: space-between;
}
.form-price{
  font-size: 1.2rem;
  font-weight: 700;
}
.form-rating{
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  color: #505050;
}

.form-order-explanation{
  font-size: 0.8rem;
  color: #5F5F5F;
}
.form-boyut-hamur{
  display: flex;
  justify-content:space-between;
  width: 20rem;
}
.form-boyut{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.radio-item{
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.form-input-title{
  font-size: 1.2rem;
  font-weight: 600 ;
}
.form-hamur select{
  font-size: 1rem;
  font-weight: 500 ;
}

.checkbox-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
   gap: 0.75rem 1.3rem; /* satır  sütun aralığı */
}

.checkbox-item{
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.text-area{
  border-radius:6px ;
}

.quantity-selector {
  display: flex;
  align-items: center;
  
}

.quantity-selector button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #FDC913;
  border: none;
  border-radius:6px ;
}

.quantity-value {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem; /* üstten ve alttan ortalamak için */
  text-align: center;
  font-weight: 600;
  border: #d2cdcd solid 0.2px;
  
}

.siparis-tamamla{
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 14rem;
}

.siparis-kutusu{
  width:60% ;
  border: #D9D9D9 1px solid;
  height: 100%;
  border-radius:6px ;
}
.siparis-ozeti{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 80%;
  padding: 2rem;
}

.siparis-secimler{
  display: flex;
  justify-content: space-between ;
  font-weight: 600;
}
.siparis-toplam{
  display: flex;
  justify-content: space-between ;
  color:#CE2829 ;
  font-weight: 600;
}

.siparis-butonu{
  height: 20%;
  width: 100%;
  background-color: #FDC913;
  border: none;
 font-family: 'Barlow',sans-serif;
 font-weight: 600;
 border-radius:6px ;
 cursor: pointer;
}
.success-page-container{
background-color: #CE2829;
  position: relative;
  height: 100vh;
  max-height: 160rem;
  text-align: center;
  width: 100vw;

}
.success-banner-text{
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 35rem;
  padding-top: 1rem;
  
  gap: 5rem;
  margin:0 auto;
}
.success-text{
  font-family:'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  font-size:3rem;
  font-weight: 300;
  width: 30rem;
  
  margin:0 auto;
}
.error-text{
  color: red;
  font-size: 0.95rem;
  
}

button:disabled {
  cursor: not-allowed;
}

@media(max-width:585px){
  .banner{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    overflow: hidden;
  }

  .malzemeler,.sol-alt,.sag-ust,.sub{
  display: none;
}
.banner h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5rem;
  gap: 1.5rem;
  position: relative;
}
.banner-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
}
.pizza{
  
   position: absolute;
    width: 230%;      /* dev boyut */
    max-width: none;  /* zorunlu */
    left: 50%;
    transform: translateX(-50%);
    bottom:0;   /* taşma efekti */
    object-fit: cover;
    pointer-events: none;
}
.nav-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;

}
.nav-item{
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  width: 10rem;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  gap:0.7rem;
}
.main-content{
  object-fit: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:0.7rem;
  align-items: center;
}
.main-left-side img{
  object-fit: cover;
  width: 80%;
  position: absolute;
  left: 0;
}
.main-right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
 
  height: 30rem;
  
}
.main-right-side h3{
  font-size: 1.5rem;
}
.main-right-side button{
  width: 8rem;
}
.main-right-side img{
  width: 40%;
}
.main-right-top,.main-right-bottom{
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  gap: 1rem;
  
}
.submain-content h1{
  text-align: center;
  width: 15rem;
}

.submain-bottom a{
  width: 21rem;
}

.footer-img{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.footer-bottom{
  display: flex;
  justify-content: space-around;
  gap:0
}

}

